DATABASE_URL=postgres://user:pass@host/db?sslmode=disable
STATICS_HOST=https://v3-statics-dev.mirrormedia.mg/images
PORT=8080
GO_ENV=dev
REDIS_ENABLED=false
REDIS_URL=redis://localhost:6379/0
REDIS_TTL=3600
DB_MAX_OPEN_CONNS=20
DB_MAX_IDLE_CONNS=10
DB_CONN_MAX_IDLE_SECONDS=300
